body,
button,
input {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #666;
  padding: 12px 24px;
}
